<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <!-- HEADER BOOTSTRAP-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">TGP</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
          <a class="nav-link"<%= link_to "Home", root_path %> <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" <%= link_to "Team", team_path %>></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" <%= link_to "Contact", contact_path %>></a>
          </li>
        </ul>
        <span class="navbar-text">
          Super Header
        </span>
      </div>
    </nav>

    <h1> Page cachée !</h1>
    <p>BIENVENUE <%=@first_name%> ! Ici c'est notre super site de potins, il est chouette, non ? </p>

  </body>
</html>
