<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <!-- HEADER BOOTSTRAP-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">TGP</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
          <a class="nav-link"<%= link_to "Home", root_path %> <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" <%= link_to "Team", team_path %>></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" <%= link_to "Contact", contact_path %>></a>
          </li>
        </ul>
        <span class="navbar-text">
          Super Header
        </span>
      </div>
    </nav>

    <h1>Nous joindre</h1> 
    <p>Ceci est la page contact simple</p>
    <p> Hello there <%= User %><p>
    <p>Votre avis nous interresse<p>
   
    <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-6">Contact</h1>
    <p class="lead">Envoyer un message</p>
    <p class="lead">Nous vous remercions de votre intérêt de nous contacter.</p> <br>
    <p class="lead"> Nous apprécions votre vie privée et voulons que vous sachiez que les informations que vous fournissez ci-dessous seront brièvement enregistré afin de retourner votre demande de contact, après quoi il est effacé de nos systèmes. Si vous avez des préoccupations, veuillez consulter notre avis de confidentialité complète.<p>
  </div>
</div>
  </body>
</html>
